version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: dd-mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    image: sricharanns/dd-backend:latest
    container_name: dd-backend
    restart: always
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/testdb
    ports:
      - "8080:8080"

  frontend:
    image: sricharanns/dd-frontend:latest
    container_name: dd-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  mongo_data:
