name: Build & Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Backend
      run: |
        docker build -t sricharanns/dd-backend:latest ./backend
        docker push sricharanns/dd-backend:latest

    - name: Build & Push Frontend
      run: |
        docker build -t sricharanns/dd-frontend:latest ./frontend
        docker push sricharanns/dd-frontend:latest
